body {
    margin: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #00f0ff;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
